/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  font-family: "Kodchasan", sans-serif;
  line-height: 1.5;
}

.poem-title {
  position: relative;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 20px 0;
}
.poem-subtitle {
  position: relative;
  font-size: 24px;
  font-family: "Kodchasan", sans-serif;
  margin: 0 0 20px 0;
}
